{{ $st := .page }}
{{ $columns := $st.Params.design.columns | default "2" }}

<div class="col-card">
    <div class="card-simple desc-card bcg-red" >
      <div class="desc-card-title">
          <p>{{ i18n "arquitectura" | default "Arquitectura"}}</p>
      </div>
      <div class="article-style">
        <p>{{ i18n "arquitectura_sub1" | default "Proyecto y dirección"}}</p>
      </div>
      <div class="article-style">
        <p>{{ i18n "arquitectura_sub2" | default "Proyecto y dirección"}}</p>
      </div>
      <div class="article-style">
        <p>{{ i18n "arquitectura_sub4" | default "Proyecto y dirección"}}</p>
      </div>
      <div class="article-style">
        <p>{{ i18n "arquitectura_sub5" | default "Proyecto y dirección"}}</p>
      </div>
      <div class="article-style">
        <p>{{ i18n "arquitectura_sub6" | default "Proyecto y dirección"}}</p>
      </div>
    </div>
    

    <div class="card-simple desc-card bcg-blue-magenta" >
      <div class="desc-card-title">
          <p>{{ i18n "interiorismo" | default "Arquitectura"}}</p>
      </div>
      <div class="article-style">
        <p>{{ i18n "interiorismo_sub1" | default "Proyecto y dirección"}}</p>
      </div>
      <div class="article-style">
        <p>{{ i18n "interiorismo_sub2" | default "Proyecto y dirección"}}</p>
      </div>
      <div class="article-style">
        <p>{{ i18n "interiorismo_sub3" | default "Proyecto y dirección"}}</p>
      </div>
    </div>
        <div class="card-simple desc-card bcg-green" >
      <div class="desc-card-title">
          <p>{{ i18n "construccion" | default "Arquitectura"}}</p>
      </div>
      <div class="article-style">
        <p>{{ i18n "construccion_sub1" | default "Proyecto y dirección"}}</p>
      </div>
      <div class="article-style">
        <p>{{ i18n "construccion_sub2" | default "Proyecto y dirección"}}</p>
      </div>
      <div class="article-style">
        <p>{{ i18n "construccion_sub4" | default "Proyecto y dirección"}}</p>
      </div>
      <div class="article-style">
        <p>{{ i18n "construccion_sub5" | default "Proyecto y dirección"}}</p>
      </div>
      <div class="article-style">
        <p>{{ i18n "construccion_sub6" | default "Proyecto y dirección"}}</p>
      </div>
      <div class="article-style">
        <p>{{ i18n "construccion_sub7" | default "Proyecto y dirección"}}</p>
      </div>
    </div>

    <div class="card-simple desc-card bcg-blue">
      <div class="desc-card-title">
          <p>{{ i18n "otros_servicios" | default "Arquitectura"}}</p>
      </div>
      <div class="article-style">
        <p>{{ i18n "otros_servicios_sub1" | default "Proyecto y dirección"}}</p>
      </div>
      <div class="article-style">
        <p>{{ i18n "otros_servicios_sub2" | default "Proyecto y dirección"}}</p>
      </div>
      <div class="article-style">
        <p>{{ i18n "otros_servicios_sub3" | default "Proyecto y dirección"}}</p>
      </div>
      <div class="article-style">
        <p>{{ i18n "otros_servicios_sub4" | default "Proyecto y dirección"}}</p>
      </div>
    </div>

    <div class="card-simple desc-card bcg-purple" >
      <div class="desc-card-title">
          <p>{{ i18n "asesoria" | default "Arquitectura"}}</p>
      </div>
      <div class="article-style">
        <p>{{ i18n "asesoria_sub1" | default "Proyecto y dirección"}}</p>
      </div>
      <div class="article-style">
        <p>{{ i18n "asesoria_sub2" | default "Proyecto y dirección"}}</p>
      </div>
      <div class="article-style">
        <p>{{ i18n "asesoria_sub3" | default "Proyecto y dirección"}}</p>
      </div>
    </div>
  </div>