.navbar{
    background: black;
}
.navbar-light .navbar-toggler{
    color: white;
}
.home-section{
    padding: 40px 0 40px 0;
}
#posts, #gallery, #contact{
    padding: 60px;
}
h1{
    margin-bottom: 1rem;
}
.section-heading h1{
    margin: 0 0 30px 0;
}
#map{
    margin-top: 50px;
}
a{
    color: inherit;
}
h3.article-title a:hover{
    color: #777;
    text-decoration: none;
    transition: color 0.3s ease;
}
.btn{
    font-size: 1rem;
}
.btn-outline-primary{
    border-color: #87189D;
    border-width: 2px;
}

@media only screen and (max-width: 600px) {
    #clients, #slider, #gallery, .section-heading{
      text-align: center;
    }
    .btn{
        display: block;
        margin: auto;
    }
    
  }

//// Infinite Slider Carousel ////
#slider {
	align-items: center;
	//background: #E3E3E3;
	//display: flex;
	//height: 100vh;
	justify-content: center;
}

@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 48s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	//margin: auto;
	overflow:hidden;
	//position: relative;
    //width: 960px;
    //width: 100%;
	
	&::before,
	&::after {
		//@include white-gradient;
		content: "";
		height: 120px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 120px;
		width: 250px;
	}
}