.navbar{
	background: black;
	align-content: center;
}
.navbar-light .navbar-toggler{
    color: white;
}
.home-section{
    padding: 40px 0 40px 0;
}
#posts, #gallery, #contact{
    padding: 60px;
}
h1{
    margin-bottom: 1rem;
}
.container{
	width: 100%;
	max-width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}
.section-heading h1{
	margin: 0 0 30px 0;
}
.row{
	margin-left: 0px;
	margin-right: 0px;
}
.row.contact-widget{
	justify-content: center;
}
#map{
    margin-top: 50px;
}
a{
	color: #87189D;
}
h3.article-title a:hover{
    color: #777;
    text-decoration: none;
    transition: color 0.3s ease;
}
.btn{
	font-size: .8rem;
	display: block;
	margin: auto;
	line-height: 1rem;
}
.btn-outline-primary{
    border-color: #87189D;
	border-width: 2px;
	font-size: 1rem;
}
.btn-demo{
	background-color: black;
	border-radius: 2rem;
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
}
.share-box{
	display: flex;
	justify-content: center;
	align-items: center;
}
a.share-btn-email:hover{
	text-decoration: none;
}

ul.share-contact{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	margin: 20px;
	padding: 0;
}
ul.share-contact li a{
	color: blanchedalmond;
}
ul.share-contact li i{
	display: block;
	width: 48px;
	height: 32px;
	line-height: 32px;
	font-size: 32px;
	text-align: center;
	transition: all 100ms ease-in-out;
	text-decoration: none;
}
#habitissimo-habitissimo_profile{
	color: blanchedalmond;
}

#clients, #slider, #gallery, .section-heading{
	text-align: center;
}
.google-star{
	color: gold;
	flex-direction: row;
	width: 25px;
	padding-left: 10px;
}
.google-card{
	display: flex;
	flex-direction: row;
	margin: 10px 0 10px 0;
}


@media only screen and (min-width: 993px) {
	.navbar-brand img{
		height: auto;
		margin-bottom: 0px;
	}
	.row{
		padding-right: 80px;
		padding-left: 80px;
	}
}

@media only screen and (min-width: 928px) and (max-width: 992px) {
	.navbar-brand img{
		height: 35px;
	}
}

@media only screen and (min-width: 350px) and (max-width: 600px) {
	h1{
		margin-bottom: 16px;
	}
	#gallery{
		padding: 10px;
	}
	.gallery a[data-fancybox] img{
		max-width: 95%;
	}
	.navbar-brand img{
		height: 32px;
	}
	.navbar-brand-mobile-wrapper{
		position: relative;
		left: 60px;
	}
	.container{
		padding-left: 0px;
		padding-right: 0px;
	}
	#demo .container{
		padding-left: 25px;
	}
    .btn{
        display: block;
        margin: auto;
    }
    
}

@media only screen and (max-width: 349px) {
	h1{
		margin-bottom: 12px;
	}
	#gallery{
		padding: 10px;
	}
	p{
		margin-bottom: 0px;
	}
	.gallery a[data-fancybox] img{
		max-width: 100%;
	}
	.navbar-brand img{
		height: 24px;
	}
	.navbar-brand-mobile-wrapper{
		position: relative;
		left: 8px;
	}
}

footer{
	text-align: center;
	font-size: .6rem;
	line-height: 30px;
	margin: 1rem 0 0;
	color: blanchedalmond;
	background-color: black;
}


#infinite_slider {
	padding-top: 32px;
	padding-bottom: 32px;
	background-color: white;
}

@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 5))}
}


// Styling
.slider {
	background: white;
	//box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 960px;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 10);
	}
	
	.slide {
		height: 100px;
		width: 250px;
	}
}


/*
//// Infinite Slider Carousel ////

@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

.empty {
	padding: 0px;	
}

// Styling
.slider {
	background: white;
	//box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 120px;
	//margin: auto;
	//overflow:hidden;
	//position: relative;
    //width: 960px;
    max-width: 100%;
	
	&::before,
	&::after {
		//@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(550px * 5);
	}
	
	.slide {
		margin: 0 40px 0 40px;
		height: 100px;
		width: 100px;
		justify-content: center;

	}
}
*/